extends ../layout

block content
	div.container
		form(method="post",action="/admin/login").form-signin
			h2.form-signin-heading Please enter your credentials

			- if(typeof(error_text) != 'undefined')
				div.alert.alert-error
					span=error_text
			- if(typeof(username) != 'undefined')
				input.input-block-level(type="text", name="username", value=username)
			- else
				input.input-block-level(type="text", name="username", placeholder="Username")
			br
			input.input-block-level(type="password", name="password", placeholder="Password")
			br
			span &nbsp;
			input(type="submit", value="Login").btn.btn-large.btn-primary
