extends layout

block content
	h1= title
	if (items.length)
		p The items below are available for sale
		ul
			each item in items
				li
					a(href="item/#{item.slug}") #{item.title} - R$#{item.price}
	else
		p Sorry, there are no items available at this moment :(
